body {
  background: #fff !important;
}

.ccchildpages {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 !important;
  padding: 0 !important;
  clear: both;
  display: block;
  width: 100%;
}
.cc-meta-info {
  font-size: 70%;
}
a.ccpage_title_link {
  text-decoration: inherit !important;
  color: inherit !important;
}
a.ccpage_linked_thumb img {
  border: inherit;
}
.ccchildpage {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em 1%;
  padding: 0.75em 2%;
  display: block;
  float: left;
}
.ccpages_excerpt,
.ccpages_more {
  font-size: 85%;
}
.ccpages_excerpt {
  display: block;
  margin: 0;
  padding: 0;
}
.ccfirst {
  clear: both;
}
.cclast {
  margin: 1em 1% 1em 0;
  float: right;
}
.onecol .ccchildpage {
  width: 98%;
}
.twocol .ccchildpage {
  width: 48%;
}
.threecol .ccchildpage {
  width: 31.333%;
}
.fourcol .ccchildpage {
  width: 23%;
}

/*
 * Sub-pages ...
 */
.ccsubpages {
  margin-top: 1em;
}
.ccsubpages ul {
  list-style: none;
}

/*
 * Navigation links
 */
.ccpages_nav {
  display: block;
  clear: all;
  text-align: center;
}
/*
 * End of Navigation links
 */

/*
 * Thumbnails ...
 */
.cc-child-pages-thumb {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 10px auto;
  clear: both;
}
/*
 * End of Thumbnails
 */
/*
 * Rules for nested lists ..
 */
.twocol ul.ccchildpages_list li ul,
.threecol ul.ccchildpages_list li ul,
.fourcol ul.ccchildpages_list li ul {
  margin-left: 0.5em;
  padding-left: 0.5em;
}
.twocol ul.ccchildpages_list li ul li,
.threecol ul.ccchildpages_list li ul li,
.fourcol ul.ccchildpages_list li ul li {
  display: list-item;
  width: 100%;
  float: none;
}
/*
 * Media Queries
 */
@media screen and (min-width: 761px) {
  /*
	 * List items
	 */
  .twocol ul.ccchildpages_list li,
  .threecol ul.ccchildpages_list li,
  .fourcol ul.ccchildpages_list li {
    margin-left: 0;
    margin-right: 2%;
    vertical-align: top;
  }
  .twocol ul.ccchildpages_list li {
    width: 48%;
    float: left;
  }
  .twocol ul.ccchildpages_list li:nth-child(2n + 3),
  .threecol ul.ccchildpages_list li:nth-child(3n + 4),
  .fourcol ul.ccchildpages_list li:nth-child(4n + 5) {
    clear: both;
  }
  .threecol ul.ccchildpages_list li {
    width: 31.333%;
    float: left;
  }
  .fourcol ul.ccchildpages_list li {
    width: 23%;
    float: left;
  }
}
@media screen and (min-width: 481px) and (max-width: 760px) {
  /* Undo rules we are not interested in for lower resolutions */
  .fourcol .cclast {
    margin: 1em 1%;
    float: left;
  }
  .fourcol .ccfirst {
    clear: none;
  }
  /* Add new rules for lower resolutions */
  .fourcol .ccchildpage {
    width: 31.333%;
  }
  .fourcol .ccchildpage:nth-child(3n) {
    margin: 1em 1% 1em 0;
    float: right;
  }
  .fourcol .ccchildpage:nth-child(3n + 1) {
    clear: both;
  }
  /*
	 * List items
	 */
  .twocol ul.ccchildpages_list li,
  .threecol ul.ccchildpages_list li,
  .fourcol ul.ccchildpages_list li {
    margin-left: 0;
    margin-right: 5%;
    vertical-align: top;
  }
  .twocol ul.ccchildpages_list li {
    width: 45%;
    float: left;
  }
  .twocol ul.ccchildpages_list li:nth-child(2n + 3),
  .threecol ul.ccchildpages_list li:nth-child(3n + 4),
  .fourcol ul.ccchildpages_list li:nth-child(3n + 4) {
    clear: both;
  }
  .threecol ul.ccchildpages_list li,
  .fourcol ul.ccchildpages_list li {
    width: 28.333%;
    float: left;
  }
}
@media screen and (min-width: 321px) and (max-width: 480px) {
  /* Undo rules we are not interested in for lower resolutions */
  .threecol .cclast,
  .fourcol .cclast {
    margin: 1em 1%;
    float: left;
  }
  .threecol .ccfirst,
  .fourcol .ccfirst {
    clear: none;
  }
  /* Add new rules for lower resolutions */
  .threecol .ccchildpage,
  .fourcol .ccchildpage {
    width: 48%;
  }
  .threecol .ccchildpage:nth-child(2n),
  .fourcol .ccchildpage:nth-child(2n) {
    margin: 1em 1% 1em 0;
    float: right;
  }
  .threecol .ccchildpage:nth-child(2n + 1),
  .fourcol .ccchildpage:nth-child(2n + 1) {
    clear: both;
  }
  /*
	 * List items
	 */
  .twocol ul.ccchildpages_list li,
  .threecol ul.ccchildpages_list li,
  .fourcol ul.ccchildpages_list li {
    margin-left: 0;
    margin-right: 7%;
    vertical-align: top;
  }
  .twocol ul.ccchildpages_list li,
  .threecol ul.ccchildpages_list li,
  .fourcol ul.ccchildpages_list li {
    width: 43%;
    float: left;
  }
  .twocol ul.ccchildpages_list li:nth-child(2n + 3),
  .threecol ul.ccchildpages_list li:nth-child(2n + 3),
  .fourcol ul.ccchildpages_list li:nth-child(2n + 3) {
    clear: both;
  }
}
@media screen and (max-width: 320px) {
  /* Undo rules we are not interested in for lower resolutions */
  .twocol .cclast,
  .threecol .cclast,
  .fourcol .cclast {
    margin: 1em 1%;
    float: left;
  }
  .twocol .ccfirst,
  .threecol .ccfirst,
  .fourcol .ccfirst {
    clear: none;
  }
  /* Add new rules for lower resolutions */
  .twocol .ccchildpage,
  .threecol .ccchildpage,
  .fourcol .ccchildpage {
    width: 98%;
    float: none;
  }
}
/*
 * Clearfix hack ... ccclearfix, to avoid upsetting other plugins and themes
 */
.ccclearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.ccclearfix {
  display: inline-block;
}
/* start commented backslash hack \*/
* html .ccclearfix {
  height: 1%;
}
.ccclearfix {
  display: block;
}
/* close commented backslash hack */

/*
 * Skins
 */
/* Simple skin */
.simple .ccchildpage {
  background: #eee;
  /* Fallback ... */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 0, 0.3)),
    color-stop(100%, rgba(0, 0, 0, 0.1))
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.3) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  /* W3C */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #333;
}
.simple .ccchildpage a {
  color: blue;
  text-decoration: underline;
}
.simple .ccpages_more {
  text-align: right;
  font-style: italic;
}
.simple .ccpages_more a {
  text-decoration: none;
}

.simple .ccsubpages {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #999;
  padding: 0.5em;
}
/* End of Simple skin */
/* Red skin */
.ccred .ccchildpage {
  background: #fee;
  /* Fallback ... */
  background: -moz-linear-gradient(
    top,
    rgba(255, 0, 0, 0.3) 0%,
    rgba(255, 0, 0, 0.1) 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(255, 0, 0, 0.3)),
    color-stop(100%, rgba(255, 0, 0, 0.1))
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(255, 0, 0, 0.3) 0%,
    rgba(255, 0, 0, 0.1) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(255, 0, 0, 0.3) 0%,
    rgba(255, 0, 0, 0.1) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(255, 0, 0, 0.3) 0%,
    rgba(255, 0, 0, 0.1) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(255, 0, 0, 0.3) 0%,
    rgba(255, 0, 0, 0.1) 100%
  );
  /* W3C */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #333;
}
.ccred .ccchildpage a {
  color: blue;
  text-decoration: underline;
}
.ccred .ccpages_more {
  text-align: right;
  font-style: italic;
}
.ccred .ccpages_more a {
  text-decoration: none;
}
.ccred .ccsubpages {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #f99;
  padding: 0.5em;
}
/* End of Red skin */
/* Blue skin */
.ccblue .ccchildpage {
  background: #eef;
  /* Fallback ... */
  background: -moz-linear-gradient(
    top,
    rgba(0, 0, 255, 0.3) 0%,
    rgba(0, 0, 255, 0.1) 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 0, 255, 0.3)),
    color-stop(100%, rgba(0, 0, 255, 0.1))
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 0, 255, 0.3) 0%,
    rgba(0, 0, 255, 0.1) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 0, 255, 0.3) 0%,
    rgba(0, 0, 255, 0.1) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 0, 255, 0.3) 0%,
    rgba(0, 0, 255, 0.1) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 255, 0.3) 0%,
    rgba(0, 0, 255, 0.1) 100%
  );
  /* W3C */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #333;
}
.ccblue .ccchildpage a {
  color: blue;
  text-decoration: underline;
}
.ccblue .ccpages_more {
  text-align: right;
  font-style: italic;
}
.ccblue .ccpages_more a {
  text-decoration: none;
}
.ccblue .ccsubpages {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #99f;
  padding: 0.5em;
}
/* End of Blue skin */
/* Green skin */
.ccgreen .ccchildpage {
  background: #efe;
  /* Fallback ... */
  background: -moz-linear-gradient(
    top,
    rgba(0, 255, 0, 0.3) 0%,
    rgba(0, 255, 0, 0.1) 100%
  );
  /* FF3.6+ */
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, rgba(0, 255, 0, 0.3)),
    color-stop(100%, rgba(0, 255, 0, 0.1))
  );
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(
    top,
    rgba(0, 255, 0, 0.3) 0%,
    rgba(0, 255, 0, 0.1) 100%
  );
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(
    top,
    rgba(0, 255, 0, 0.3) 0%,
    rgba(0, 255, 0, 0.1) 100%
  );
  /* Opera 11.10+ */
  background: -ms-linear-gradient(
    top,
    rgba(0, 255, 0, 0.3) 0%,
    rgba(0, 255, 0, 0.1) 100%
  );
  /* IE10+ */
  background: linear-gradient(
    to bottom,
    rgba(0, 255, 0, 0.3) 0%,
    rgba(0, 255, 0, 0.1) 100%
  );
  /* W3C */
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #333;
}
.ccgreen .ccchildpage a {
  color: blue;
  text-decoration: underline;
}
.ccgreen .ccpages_more {
  text-align: right;
  font-style: italic;
}
.ccgreen .ccpages_more a {
  text-decoration: none;
}
.ccgreen .ccsubpages {
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  border: 2px solid #9f9;
  padding: 0.5em;
}
/* End of Green skin */
