.post-content .ccchildpages.twocol {
  font-size: 0.75em;
}
.post-content .ccchildpages.twocol > .ccchildpage {
  height: 7em;
  max-height: 100%;
  display: inline-block;
}

.ccchildpage {
  margin: 0.5em 0.5em 1.5em;
  padding: 1.5em 2em;
  background: #fff;
  box-shadow: 0 0.125em 1em 0 rgba(0, 0, 0, 0.1),
    0 0 0.125em 0 rgba(0, 0, 0, 0.08);
  border-radius: 0.25em;
  border-left: solid 8px #00cccc;
}
.ccchildpage.ccfirst {
  border-right: none;
  border-left: solid 8px #00cccc;
}
.ccchildpage.cclast {
  border-left: none;
  border-right: solid 8px #00cccc;
}

.ccchildpage h3 {
  font-size: 1.375em;
  text-transform: uppercase;
  color: #333;
}
.ccchildpage h3 .ccpage_title_link {
  color: #0466b6;
}
.ccchildpage h3 .ccpage_title_link:hover {
  text-decoration: underline;
}
.ccchildpage .cc-child-pages-thumb {
  display: block;
  max-width: 24%;
  width: 120px;
  max-height: 120px;
  height: auto;
  border: solid 1px #ccc;
  border-radius: 0.5em;
  overflow: hidden;
  float: left;
  clear: left;
  margin-right: 1em;
}
.ccchildpage .ccpages_excerpt {
  font-size: 1em;
  line-height: 1.5;
  color: #555;
  margin-top: 0.75em;
  margin-left: 1em;
}
.ccchildpage .ccpages_more {
  text-align: right;
  margin-top: 1em;
}
.ccchildpage .ccpages_more a {
  font-weight: bold;
  text-decoration: underline;
  color: #00a1a1;
  padding: 0.5em 1.5em;
  border: solid 1px #ccc;
  border-radius: 0.375em;
  display: inline-block;
  transition: all 500ms;
}
.ccchildpage .ccpages_more a:hover,
.ccchildpage .ccpages_more a:active {
  background: #00cccc;
  color: white;
  border-color: #00cccc;
}
